
@keyframes section-animation{
    0% {
      width: 0;
  }
  15% {
    width: 100%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
  }

  @keyframes hero-circle-1{
    0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
  }

  @keyframes hero-1-animation{
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
  }