#firstSection{
    width: 100%;
    height: 950px;
    background: #edeef3;
    position: relative;

    header{
        width: 1309px;
        height: 97px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
       
        

        .left-side{
            width: 315px;
            height: 100%;
            .content{
                width: 100%;
                height: 100%;
                padding: 34px 12px;
               display: flex;
               justify-content: space-between;
               align-items: center;
            
              .line{
                width: 1px;
                height: 40px;
                background: #c9ccd4;
              }

              a{
                text-decoration: none;
                display: flex;
                margin-right: 20px;
                color: #0e1133;
                transition: 0.3s;

                svg{
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                   }
                   span{
                    margin-left: 14px;
                    margin-top: 2px;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: "Hind", sans-serif;
                    line-height: 1;

                   }
                   &:hover{
                    color:#2b4eff;
                   }
              }
            }
        }
        .right-side{
          height: 100%;
          width: 900px;
          padding: 0 12px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          ul{
            display: flex;
            li{
              display: inline-block;
              position: relative;
              margin-left: 10px;
              .dropdown{
               i{
                font-size: 12px;
               }
              }
              a{
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: #0e1133;
                text-transform: capitalize;
                transition: 0.3s;
                &:hover{
                  color:#2b4eff;
                 }
              }
            }
          }

          .header-search{
            width: 280px;
            height: 50px;
            margin-left: 50px;
            position: relative;

            input{
              width: 280px;
              height: 50px;
              line-height: 20px;
              border-radius: 4px;
              background: #ffffff;
              outline: none;
              border: 1px solid #ffffff;
              font-size: 16px;
              padding: 25px 65px 20px 55px;
              &::placeholder{
                font-size: 13px;
              }
              
            
            }
            button{
              background: transparent;
              position: absolute;
              top: 20px;
              left: 24px;
              color: inherit;
              outline: none;
              border: none;
              i{
                font-size: 15px;
              }
            }
            .header-cart{
              width: 38px;
              height: 26px;
              position: absolute;
              top: 15px;
              right: 20px;
              padding-left: 18px;
              a{
                font-size: 17px;
                color: #0e1133;
                svg{
                  width: 20px;
                  height: 19px;
                  vertical-align: middle;
                }
                span{
                  position: absolute;
                  top: -10px;
                  right: -10px;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  line-height: 22px;
                  text-align: center;
                  font-size: 14px;
                  color: #fff;
                  background: #2b4eff;
                  border-radius: 50%;
                  font-weight: 500;
                  box-shadow: 0 10px 20px #0417764d;
                }
                
              }
              &:hover span{
               background: black;
              }
              &::after{
                position: absolute;
                content: "";
                top: -5px;
                left: 0;
                width: 2px;
                height: 30px;
                background: #dbdfe9;
              }
            }
          }
          .header-button{
            display: inline-block;
    height: 50px;
    line-height: 52px;
    text-align: center;
    padding: 0 25px;
    color: #fff;
    background: #2b4eff;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 20px;
          }
        }
       
    }


    .responsive-header{
      width: 100%;
      height: 73px;
      padding: 20px 30px;
      display: none;
      justify-content: space-between;
      align-items: center;
      button{
        border: none;
      }
      span{
        width: 30px;
    height: 3px;
    background-color: #2b4eff;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;    
      }
    }

    .hero-circle-1{
      position: absolute;
      top: 25%;
      left: 5%;
      animation: hero-circle-1 6s linear 0s infinite     alternate;
      vertical-align: middle;
    }
    .hero-1-circle-2{
      position: absolute;
      bottom: 29%;
      left: 0;

    }
    .hero-1-dot-2{
      right: 0;
    bottom: 38%;
    position: absolute;
    vertical-align: middle;
    }

    .container{
      width: 1140px;
      height: 460px;
      padding: 0 12px;
      translate: 100px 200px;
      display: flex;
      .left{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12px;
        .left-content{
          h3{
            line-height: 1;
            font-size: 55px;
            font-family: Hind, sans-serif;
            color: #0e1133;
            margin-top: 0;
            font-weight: 700;
  
            :first-child{
              font-weight: 300;
              display: block;
            }
            .yellow-shape{
              position: relative;
              z-index: 1;
              img{
                width: 100%;
                position: absolute;
                bottom: 22px;
                left: -8px;
                z-index: -1;
                vertical-align: middle;
               
                animation: section-animation 3s infinite;
              }
            }
          }
          p{
            font-size: 22px;
            color: #0e1133;
            padding-right: 130px;
            line-height: 30px;
            margin-bottom: 28px;
          }
          .button-courses{
            display: inline-block;
            height: 50px;
            line-height: 52px;
            text-align: center;
            padding: 0 25px;
            color: #fff;
            background: #2b4eff;
            border-radius: 4px;
            font-weight: 500;
            
          }
        }
        
      }
      .right{
       width: 50%;
       height: 100%;
       padding: 0 12px;
       display: flex;
       position: relative;
       .hero-1-dot{
        position: absolute;
        z-index: -1;
        bottom: -25px;
        left: -15px;
        animation: hero-1-dot 5s linear 0s infinite alternate;
       }
       .hero-1-circle-3{
        position: absolute;
        z-index: -1;
        bottom: -47px;
        right: 1%;
       }
       .hero-1-circle-4{
        position: absolute;
        z-index: -1;
        top: -50px;
        right: 10%;
       }

       .hero-1{
        max-width:400px;
        position: relative;
        margin-right: 30px;
        img{
          max-width: 400px;
          max-height: 460px;
          border-radius: 40px 4px;
          box-shadow: 0 30px 60px #010b3c24;
        }
        .hero-1-animation{
          position: absolute;
          bottom: 60px;
          right: -145px;
          padding: 15px 25px 20px;
          background: #ffffff;
          border-radius: 4px;
          box-shadow: 0 30px 60px #010b3c24;
          animation-duration: 2.5s;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
          animation-name: hero-1-animation;
          span{
            font-size: 14px;
             color: #474956;
          }
          h4{
            font-size: 16px;
            color: #0e1133;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1;
          }
        }
       }
       .hero-sm{
        img{
          max-width: 200px;
          max-height: 240px;
          border-radius: 4px 40px;
          box-shadow: 0 30px 60px #010b3c24;
          margin-left: -50px;
          margin-top: 50px;
        }
       }
      }
    }
}

